# Ignore Python-related files and directories
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
*.venv
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
.cache
.DS_Store
.ipynb_checkpoints/
*.pkl
*.db
*.dat
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
.snap
.lock
*.gz
*.bz2
*.xz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.zst
*.lz4
*.lzma
*.zstd
*.lz
*.xz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz4
*.tar.lzma
*.tar.zstd
*.tar.lz
*.tar.xz

config/config.yaml
IBelive/config/config.yaml
data/